<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneServicosOpticos"
        tools:targetApi="31">
        <activity
            android:name=".helpers.MarkersActivity"
            android:exported="false" />
        <activity
            android:name=".helpers.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PedidoLenteAcabadaActivity"
            android:exported="false"
            android:label="@string/title_activity_pedido_lente_acabada"
            android:theme="@style/Theme.OneServicosOpticos.NoActionBar" />
        <activity
            android:name=".activity.EscolhaTipoVendaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CadastroClienteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EscolhaLentesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TelaInicialActivity"
            android:exported="false" />
        <activity
            android:name=".PedidoActivity"
            android:exported="false"
            android:label="@string/title_activity_pedido" />
        <activity
            android:name=".activity.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>